* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #727272ea;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  min-width: 992px;
}


